{% extends 'base.html.twig' %}

{% block title %}Listino Europrofili{% endblock %}

{% block body %}
    <div class="container text-center h-100">
        <main class="mt-4">
            <h1>Listino {{ date('today')|date('Y') }}</h1>
            <lead>Europrofili - sistemi per serramenti</lead>
        </main>
        <footer class="mt-2">
            <p>WEBapp realizzata da Marco Natalini</p>
        </footer>
    </div>
{% endblock %}
