@import "~@fortawesome/fontawesome-free/css/all.css";
@import "~bootstrap/dist/css/bootstrap.min.css";

body {
    padding-top: 60px;
    background-color: lightgray;
    background: url(../home.jpg) no-repeat center fixed;
    background-size: cover;
    color: whitesmoke;
}

a.navbar-brand {
    background: url(../logo.png);
    background-repeat: no-repeat;
    background-size: 215px 48px;
    background-position: left;
    height: 100%;
    margin-left: 5px;
    background-position: 15px;
}